SERVER_PORT=8080, 9000, etc.

MAIL_USERNAME=Your SMTP mail
MAIL_PASSWORD=Your SMTP password

DB_URL=Database connection url
DB_USERNAME=Database username
DB_PASSWORD=Database password

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=