### CLOUDINARY ###
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_NAME=
CLOUDINARY_URL=

### DATABASE ###
DB_URL=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

### MAIL & GOOGLE AUTH
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
MAIL_PASSWORD=
MAIL_USERNAME=

### REDIS ###
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_URL=

### APPLICATION ###
SERVER_PORT=
SECRET_KEY=
