<html xmlns:th="http://www.thymeleaf.org" th:replace="~{mail/layouts/base :: layout(~{::section})}">
<section>
    <p>Welcome to <strong>Mini Ecommerce</strong>, <strong th:text="${username}">[username]</strong>!</p>
    <p>Thanks for signing up to keep in touch with <strong>Mini Ecommerce</strong>. From now on, you will receive regular updates on orders, discounts and special offers.</p>
    <p>We are so pleased to have you. <a th:href="@{'http://localhost:9000'}"><strong>Visit our website</strong></a></p>
</section>
</html>